<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c36eea9692204fc67febf52fae4e696e&libraries=services"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/main.css">

    <link rel="stylesheet" type="text/css" href="/static/test.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{url_for('static',filename='main.js')}}"></script>
<script src="{{url_for('static',filename='test.js')}}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>




</head>
<body class="bg">
    <!------ Include the above in your HEAD tag ---------->
<div id="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" onclick="make();"></button>
                    </div>
                </div>
                <div class="panel-body" >
                    <ul class="chat">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="myMessage" type="text" class="form-control input-sm" placeholder="여기에 메시지를 입력해주세요."onclick="text_click();" autofocus />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-rt" id="returnBtn">메인화면</button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sd" id="inputBtn">전송</button>
                        </span>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
